.main-page {
   display: flex;
   height: 100vh;
   box-sizing: border-box;
}

.left {
    flex: 1;
    background-color: grey;

    .bg-image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
}

.right {
   width: 460px;
   background-color: white;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-sizing: border-box;

   .title {
      font-size: 30px;
      font-weight: 500;
      color: #2D2D2D;
   }
}

.account-link {
   display: flex;
   align-items: center;
   margin-top: 10px;
   color: #ababab;
   font-weight: bold;
   justify-content: center;
 
   span {
     margin-right: 2px; // Atur jarak antara teks dan tautan
   }
 }
 